@import './variables.scss';

body {
    margin: 0;
    min-height: 100vh;
    overflow: overlay;
    overflow-x: hidden;
    background-color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app-body {
    width: 96vw;
    height: fit-content;
    min-height: 93vh;
    background-color: $white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}

#page-title {
    color: $blue;
    font-family: $main-font;
    align-self: center;
}

input {
    height: 22px;
    width: 60%;
    color: $black;
    font-family: $main-font;
    font-size: 14px;
    border-radius: 4px;
    padding: 4px 8px;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: $white;
    transition: all 0.1s ease 0s;
    margin: 10px;
    margin-left: 0;
    :focus{
        border: 2px solid $blue;
    }

}

.btn {
    font-family: $main-font;
    background-color: $white;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    width: 73px;
    height: 30px;
    margin: 5px;
    margin-left: 0;
    border-radius: 4px;
}